.card {
  width: 250px;
  height: 240px;
  background-color: rgb(100, 100, 100);
}

.margin-top {
  margin-top: 0;
}

.margin-bottom {
  margin-bottom: 0;
}

.margin-top-s {
  margin-top: 4px;
}

.margin-bot-s {
  margin-bottom: 4px;
}

.margin-minus {
  margin-top: -8px;
}
