.pagination {
  position: sticky;
  top: 95%;
  left: 40%;
}

.pages {
  margin: 0 0.1rem;
  border: none;
  background-color: none;
  background: none;
  color: white;
}

.pages:hover {
  cursor: pointer;
}
.active {
  background-color: #4daf50;
  color: white;
  border-radius: 5px;
  padding: 3px 10px;
  border: 1px solid white;
}
